<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="main">
        <nav>
        <div class="img">
            <div class="chimg">
                <img src="https://tse4.mm.bing.net/th?id=OIP.St-px2X_XecdamnAmBAgUQHaEd&pid=Api&P=0&h=180" alt="">
            </div>
        </div>
        <button id="btn1">Aobut Us</button>
            <h3>FAQ</h3>
            <a href="home">Home</a>
            <a href="login">Login</a>
            <button id="btn2"> SignUp</button>
        </nav>

        <div class="hero">
            <div class="container1">
                <img src="https://echo-tech.com/EchoBusV3.0/SystemAssets/Complaint%20MS/89de60f4-26c2-41bf-8a75-703d77665a35_wael-01.png" alt="">
            </div>
            <div class="container2">
                <p>
                   <span id="one">Complaint Management System</span><br>
                   <span id="two">Register Yourself </span><br>
                   <span id="two">AS a</span><br>
                   <span id="four"><a href="">User</a></span>
                   <span id="five">Or</span>
                   <span id="four"><a href="">Admin</a></span> <br><br>
                   <button id="start">Start Now</button>
                </p>
            </div>
            
        </div>
    </div>
    <div class="popup">
        <h2>Select User Type</h2>
        
        <button id="user"><a href="stu_signup.ejs">User</a></button>
        <br>
        <button id="admin"><a href="t_signup.ejs">Admin</a></button>
        <button id="cancle">Cancle</button>
    </div>
    <script src="index.js"></script>
</body>
</html>